:root {
  --bs-primary: #010919; /* Primary dark background */
  --bs-secondary: #111f30; /* Secondary dark shade */
  --bs-success: #294b63; /* Accent dark */
  --bs-info: #838a94; /* Light accent */
  --bs-light: #dde2e6; /* Bright accent */
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--bs-secondary);
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-color: var(--bs-primary);
  color: var(--bs-light);
}
.navbar {
  background-color: var(--bs-secondary);
}

.btn-primary {
  background-color: var(--bs-secondary) !important; /* Color de fondo */
  border-color: var(--bs-secondary); /* Color del borde */
  color: var(--bs-light); /* Color del texto */
}

.btn-primary:hover {
  background-color: var(--bs-success) !important; /* Color de fondo al pasar el mouse */
  color: var(--bs-light); /* Color del texto al pasar el mouse, ajusta si es necesario */
  border-color: var(--bs-light); /* Color del borde */
}
.btn-secondary {
  background-color: var(--bs-secondary) !important; /* Color de fondo */
  border-color: var(--bs-secondary); /* Color del borde */
  color: var(--bs-light); /* Color del texto */
}

.btn-secondary:hover {
  background-color: var(--bs-success) !important; /* Color de fondo al pasar el mouse */
  color: var(--bs-light); /* Color del texto al pasar el mouse, ajusta si es necesario */
  border-color: var(--bs-light); /* Color del borde */
}

.btn-info {
  background-color: var(--bs-info);
  border-color: var(--bs-info);
}

.text-light {
  color: var(--bs-light);
}

.bg-custom {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

/* Mis trabajos */

#Mis-trabajos{
  background-color: var(--bs-secondary);
}

#Mis-trabajos .image-top {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

footer {
  background-color: var(--bs-secondary);
}